
<%- include(templateDir + '/html1.ejs'); -%>

  <section class="section">

    <nav class="level">
      <div class="level-left">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="/">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">Peers</a></li>
          </ul>
        </nav>
      </div>
    </nav>
    <%- include(templateDir + '/peersTable.ejs', { peers, columns: ['peerId', 'services', 'createdAt'] }); -%>   

  </section>

<%- include(templateDir + '/html2.ejs', {localPeerId}); -%>
